@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "themify-icons.css";
@import "jcarousel.responsive.css";
@import "pe-icon-7-stroke.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
/*------------------------------------------------------------------
1. Reset styles / Wordpress classes

2. Wrapper
    2.1 Logo / Boxed Mode

3. Main Menu / Header

4. Main Styles
    4.1 Servecis shortcodes
    4.2 Portfolio shortcodes
    4.3 Blog Section

5. Widgets / Button

6. Other Shortcodes

7. WooCommerce

8. Footer / #footer

9. Other style

10. Style Switcher
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Reset styles]
*/
p {
    line-height: 1.75;
    font-size: 14px;
    font-weight: 300;
}
img {
    max-width: 100%;
    height: auto;
}
/*------------------------------------------------------------------
[2. Body / Wrapper ]
*/
body { background: #f4f4f4; }
.wrapper {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    color: #555;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow: hidden;
    line-height: 1.75;
}
.wrapper.boxed {
    width: 1230px;
    background: #fff;
    box-shadow: 0px 0px 10px #eee;
}
.wrapper.portfolio {
    width: 1230px;
    background: #fff;
    box-shadow: none
}
.wrapper.multi-purp {
  width: 1500px;
  background: #fff;
  box-shadow: none !important;
}
.boxed .grid-item {width: 33.333333%}
a,
button,
input[type="submit"] {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Open Sans, 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    color: #555;
}
a {
  color: #555;
}
a,
a:visited,
a:focus,
a:active,
a:hover { outline: 0 !important; }
a:focus, a:hover {
    color: #F57F17;
}
.animated-area { overflow: hidden }
.marg25 { margin-top: 25px }
.marg30 { margin-top: 30px;}
.marg50 { margin-top: 50px;}
.marg75 { margin-top: 75px }
.marg100 { margin-top: 100px }
.marg125 { margin-top: 125px }
.marg150 { margin-top: 150px }
/*------------------------------------------------------------------
[2.2 Logo / Boxed Mode ]
*/
.top_block {
    background: #f8f8f8;
}
.contant-top-block {
    display: inline-block;
    margin-bottom: -7px;
}
.contact-top {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
}
.contact-top li {
  float: left;
  line-height: 33px;
  border-right: 1px solid #e8e8e8;
  font-size: 12px;
  font-weight: 300;
  padding: 3px 10px;
}
.contact-top li:first-child {
    border-left: 1px solid #e8e8e8;
}
.contact-top li:last-child {
  border-right: 1px solid #e8e8e8;
}
.contact-top li i {
    font-size: 18px;
    position: relative;
    top: 3px;
}
ul.social-links {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
}
ul.social-links li:first-child {
  border-left: 1px solid #e8e8e8;
}
ul.social-links li {
  float: left;
  list-style: none;
  border-right: 1px solid #e8e8e8;
  padding: 1px 12px;
}
ul.social-links li a {
  display: inline-block;
  color: #ababab;
  line-height: 38px;
}
ul.social-links li a i{
    position: relative;
    top:2px;
}
ul.social-links li a:hover {
  color: #F57F17;
  text-decoration: none;
}
.page_head {
    padding-top: 0px;
    width: 100%;
    margin-bottom: -81px;
}
.page_head.classic-vers {
    margin-bottom: 0px;
}
.page_head.agency-vers {
    margin-bottom: -81px;
    background: transparent;
}
.in-page .page_head {
    padding-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}
.logo { margin-top: 20px }
.logo-text {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    height: 40px;
    display: block;
    line-height: 40px;
    float: left;
    padding-left: 7px;
}
.logo-text.classic-vers {
    color:#555;
}
.in-page .logo-text {
    color:#555;
}
/*------------------------------------------------------------------
[3.0 Menu ]
*/
nav {
    position: relative;
    left: 0px;
    z-index: 999 !important;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.5);
}
.portfolio nav {border-color: #eee;border-bottom: 30px solid #f4f4f4;border-top: 30px solid #f4f4f4;}
.sticky {
    position: fixed;
    background: rgba(255,255,255,1);
    border-bottom: 1px solid #eee;
}
.boxed .sticky {
    width: 1230px;
    left:auto;
}
.portfolio .sticky {
    width: 1230px;
    left:auto;
    border:none;
}
.multi-purp .sticky {
    width: 1500px;
    left:auto;
}

.sticky .menu ul li a {color:#555; pad}
.sticky .logo-text {color:#555;}
.sticky .cartcontents {top:15px;}
.menu ul ul { width: auto !important }
.menu ul ul li {width: 230px;}
.menu ul li.sub li {
    width: 140px;
    border-left: 1px dotted #eee;
}
.menu { float: right }
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li {
    position: relative;
    float: left;
}
.menu ul li ul {
    left: 0px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.18s linear;
    -moz-transition: all 0.18s linear;
    -ms-transition: all 0.18s linear;
    -o-transition: all 0.18s linear;
    transition: all 0.18s linear;
    margin-top: 2px;
}
.menu ul li:hover ul {
    display: inline-block;
    visibility: visible;
    top: 100%;
    opacity: 1;
    margin-top: 3px;
}
.menu ul li:hover ul,
.menu ul li li:hover ul,
.menu ul li li li:hover ul {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.multi-purp .menu ul li a {
    padding: 35px 22px;
}
.multi-purp .logo {
    margin-top: 29px;
}
.menu ul li a {
    padding: 27px 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    display: block;
    transition: border 0.15s linear;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.menu.classic-vers ul li a { 
    color: #555;
}
.in-page .menu ul li a { 
    color: #555;
}
.menu li a:hover {
    outline: none;
    text-decoration: none;
    color: #F57F17;
}
.menu ul li.current-menu-item a{color:#F57F17;}
.menu ul ul {background: #333;}
.menu ul li ul li a {
    padding: 11px 30px;
    border-top: 1px solid rgba(255,255,255,0.07);
    color: #fff !important;
    font-weight: normal;
    font-size: 13px;
    font-weight: 300;
    -webkit-backface-visibility: hidden;
    text-transform: none;
    letter-spacing: 0.5px;
    transition: all linear 0.2s;
}
.multi-purp .menu ul li ul li a {
    padding: 11px 30px;
}
.menu ul li ul li a:hover {
    background-color: rgba(255,255,255,0.05);
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: all linear 0.2s;
}


nav.sticky .logo { margin-top: 14px }
nav.sticky ul li a {
    padding: 21px;
    font-weight: 400;
    font-size: 14px;
    color:#555;
}
.multi-purp nav.sticky ul li a {
    padding: 21px;
    font-weight: 400;
    font-size: 14px;
    color:#555;
}
nav.sticky ul li a:before { content: '' }
.dl-trigger { display: none }
.dl-back { display: none }
.menu ul ul ul {
    top: 0px !important;
    left: 200px;
    margin-top: -1px !important;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.menu ul li ul li ul { visibility: hidden !important }
.menu ul li ul li:hover ul { visibility: visible !important }
.wpmenucart-contents {padding-left: 10px !important;}
/*------------------------------------------------------------------
[4.0 Promo Title ]
*/
.promo-block {
    display: table;
    margin: auto;
    margin-bottom: 25px;
}
.promo-text {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    -webkit-backface-visibility: hidden;
    font-family: Open Sans, sans-serif;
    line-height: 1;
    padding-bottom: 5px;
}
.promo-text.white {color:#fff;}
.promo-text-light {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-left: 31px;
    padding-right: 30px;
    display: inline-block;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 15px;
    -webkit-backface-visibility: hidden;
}
.center-line {
    margin: auto;
    height: 2px;
    background: #F57F17;
    margin-top: 20px;
    position: relative;
    width: 50px;
}
.promo-text-footer {
    font-size: 19px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 15px;
}
.promo-paragraph {
    padding: 0;
    text-align: center;
    margin-top: 7px;
}
.promo-paragraph.white {
    color:#fff;
}
/*------------------------------------------------------------------
[4.1 Servecis shortcodes]
*/
.hi-icon-effect {margin: 50px 0;}
.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}
.hi-icon {
    font-size: 49px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: auto;
    display: table;
    border-radius: 50%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    width: 84px;
    line-height: 84px;
    color: #fff;
}
.hi-icon.ver2 {font-size: 55px}
.hi-icon.ver-industrial {
    font-size: 46px;
    width: 96px;
    line-height: 96px;
    background: #F57F17;
    color:#fff;
}
.hi-icon-effect .hi-icon.ver-industrial:hover {
    background: #F57F17;
    color:#fff;
}
.service-name.ver-industrial {
    padding-top: 20px;
}
.hi-icon-effect .hi-icon.ver-industrial {
    color: #fff;
}
.hi-icon-effect .hi-icon {
    color: #F57F17;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    transition: color 0.25s;
}
.hi-icon-effect .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
.hi-icon-effect .hi-icon:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}
.hi-icon-effect .hi-icon:hover {
    color: #F57F17;
}
.service-name {
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
    padding-top: 10px;
    letter-spacing: 1px;
}
.service-text {
    text-align: center;
    font-weight: 300;
    margin-top: 12px;
    color:#555;
    /* font-size: 13px; */
}



.multi-serv-icon {
    float: left;
    font-size: 46px;
    display: inline-block;
    text-align: center;
    line-height: 0px;
}
.multi-serv-icon i { color: #F57F17 }
.multi-serv-name {
    line-height: 43px;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}
.multi-serv-desc {
    font-weight: 300;
    margin: 0;
    margin-top: 15px;
    margin-left: 60px;
}
.multi-serv {background: #fff;}


/*------------------------------------------------------------------
[4.2 Portfolio shortcodes]
*/
.container-color {
    background-color: #F5FBFF;
    padding: 75px 0;
}
.container-color-two {
    background-color: #f9f9f9;
    padding: 75px 0;
}
.container-color-portfolio {
     background-color: #f4f4f4;
    padding: 30px 0;   
}
.container-color-two-ind {
    background-color: #fafafa;
    padding-top: 75px;   
}
.container-color-two-ind2 {
    background-color: #fafafa;
    padding: 75px 0;   
}
.container-color-three {
    background-color: #333;
    padding: 75px 0;
}
.grid figure {
    margin: 0;
    position: relative;
}
.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: 300;
}
.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 21px;
    padding-bottom: 5px;
}
.grid figcaption span:before { content: 'by ' }
.hover-3 figure { overflow: hidden }
.hover-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    width: 100%;
}
.hover-3 figure:hover img,
.hover-3 figure.cs-hover img {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}
.hover-3 figcaption {
    height: 83px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.hover-3 figure:hover figcaption,
.hover-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
.hover-3 figcaption a {
    position: absolute;
    bottom: 25px;
    right: 15px;
}
.portfolio-search {
    border: 1px solid #fff;
    text-align: center;
    margin-top: -24px;
    padding: 4px;
    border-radius: 2px;
    padding-top: 2px;
    color: #fff;
}
.portfolio-item {
    list-style: none;
    padding: 0;
}
.portfolio-search i { font-size: 20px }
.portfolio-search:hover {
    background: rgba(255,255,255,0.3);
    color: #fff;
}
.portfolio-attach {
    border: 1px solid #fff;
    text-align: center;
    margin-top: -24px;
    padding: 4px;
    border-radius: 2px;
    padding-top: 2px;
    color: #fff;
    margin-right: 47px;
}
.portfolio-attach i { font-size: 20px }
.portfolio-attach:hover {
    background: rgba(255,255,255,0.3);
    color: #fff;
}
.btn-simple {
    border: 1px solid #eee !important;
    color: #555 !important;
    border-radius: 1px;
    background: #fff;
    font-size: 13px !important;
    padding: 10px 20px !important;
    display: inline-block;
    margin-top: 35px;
    font-weight: 300 !important;
    line-height: 20px !important;
    min-width: inherit !important;
    text-decoration: none;
}
.btn-simple:hover {
    background: #f7f7f7;
    text-decoration: none;
    color: #555;
}
.btn-simple:focus { text-decoration: none }
.cbp-l-inline {
    padding: 0px 0;
    margin-bottom: 30px;
    background: #fff;
}
.cbp-l-inline-left { width: 40% !important }
.cbp-l-inline-left img { height: auto }
.cbp-l-inline-right {
    width: 60%;
    padding: 15px 30px;
}
.cbp-l-inline-desc a { margin-top: 15px }
.cbp-popup-singlePageInline .cbp-popup-close {
    top: -9px !important;
    outline: none;
}
.cbp-popup-singlePageInline .cbp-popup-navigation { top: 24px !important }
.cbp-popup-wrap { z-index: 99999 !important }
.cbp-popup-lightbox .cbp-popup-next { outline: none }
.cbp-popup-lightbox .cbp-popup-prev { outline: none }
.btn-blog:hover {
    background: rgba(255,255,255,0.3);
    color: #fff;
    text-decoration: none;
}
.cbp-l-inline { margin-top: 0px }
.cbp-l-filters-button .cbp-filter-item {
    background-color: #FFF;
    border: 1px solid #eee;
    border-radius: 0px;
    color: #555;
    cursor: pointer;
    font: 300 13px/29px Open Sans,sans-serif;
    margin-right: 5px;
    overflow: visible;
    padding: 0 15px;
    position: relative;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    display: block;
    float: left;
    outline: none;
    margin-top: -3px;
}
.cbp-l-filters-button .cbp-filter-item-active {
    background-color: #F57F17;
    color: #fff !important;
    border-color: #F57F17;
}
.cbp-l-filters-button .cbp-filter-counter {
    background-color: #F57F17;
    border-radius: 2px;
    color: #fff;
    font: 300 11px/18px Open Sans,sans-serif;
    margin: 0 auto;
    padding: 4px 0;
    text-align: center;
    width: 34px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -ms-filter: "alpha(Opacity=0)";
    opacity: 0;
    -webkit-transition: opacity .25s linear,bottom .25s linear;
    -moz-transition: opacity .25s linear,bottom .25s linear;
    -o-transition: opacity .25s linear,bottom .25s linear;
    transition: opacity .25s linear,bottom .25s linear;
}
.cbp-l-filters-button .cbp-filter-counter:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #F57F17;
    visibility: hidden;
}
.portfolio-item li {
    padding: 7px 0;
    border-bottom: 1px solid #eee;
    color: #555;
    font-weight: 300;
}
.portfolio-item-text {
    color: #555;
    font-weight: 300;
}
.cbp-caption-zoom .cbp-caption-activeWrap { background-color: rgba(0,192,227,0.8) }
.cbp-l-caption-title {
    color: #fff;
    font: 400 18px/18px sans-serif;
    margin-bottom: 10px;
    text-align: center;
}
.cbp-l-caption-desc {
    color: #ddd;
    font: 400 13px/16px sans-serif;
    text-align: center;
}
figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #000;
    text-align: center;
    cursor: pointer;
}
figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after { pointer-events: none }
figure figcaption,
figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
figure h2 span { font-weight: 800 }
figure h2,
figure p { margin: 0 }
figure p {
}
.minimal .grid-item {width: 33.33333333%;}
.portfolio .grid-port {}
.grid-item {width: 25%}
.grid-item.ver2 {width: 33.33333%}
.port-3 .grid-item {width: 33.33333333%; padding: 2px;}
.port-2 .grid-item {width: 50%; padding: 2px;}
.port-4 .grid-item {width: 25%; padding: 2px;}
.portfolio-dankov {width: 100%; height:1px; }
.portfolio-dankov img {width: 100%; height: 100%; }
.portfolio-dankov.inside {background: #f7f7f7}
.dankov-shortcode-portfolio-grid.portfolio-grey .portfolio-dankov { background: #f7f7f7 }

.portfolio-dankov h2 {
    margin: 0px;
    font-size: 21px;
    padding: 15px 15px 10px 15px;
    display: inline-block;
}
.portfolio-dankov p {
    padding: 0px 15px 15px 15px;
    margin: 0;
}

.prlx-1 {
    background: url(../images/parallax.jpg) 100% 30% no-repeat fixed;
    color: #fff;
}
.prlx-2 {
    background: url(../images/parallax-2.jpg) 50% 60% repeat fixed;
    color: #fff;
}
.prlx-3 {
    background: url(../images/parallax-3.jpg) 50% 60% repeat fixed;
}
.prlx-4 {
    background: url(../images/parallax-4.png) 100% 100% repeat fixed;
    padding: 75px 0;
}

.wpmenucartli a { padding-right: 0px }
.wpmenucartli a:hover {
    outline: none;
    border-color: transparent !important;
    text-decoration: none;
}
.wpmenucartli i {
    font-size: 20px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-font-smoothing: auto;
}
.cartcontents {
    position: absolute;
    background: #F57F17;
    border-radius: 4px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-size: 10px;
    top: 20px;
    right: 5px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    padding: 0 4px;
}
.wpmenucartli a:hover i {
    color: #F57F17;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
} 

.prlx {
    background:rgba(0,0,0,0.65);
    padding: 75px 0;
}
.prlx-1-text {
    color:#bbb;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-top:50px;
}
.prlx-1-promo {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 15px;
}
.prlx-1-button a{
    color:#fff;
    text-align: center;
    padding: 12px 40px;
    font-size: 14px;
    margin-left: 10px;
    background: #F57F17;
    border-radius: 5px;
    border:1px solid #F57F17;
}
.prlx-1-button a:last-child {
    background: transparent;
    border:1px solid #FFFFFF;    
}
.prlx-1-button a:hover{
    color:#fff;
    background: transparent;
    border:1px solid #FFFFFF;
    text-decoration: none;

}
.prlx-1-button a:last-child:hover{
    border:1px solid #F57F17;
    text-decoration: none;
    background: rgba(255,255,255,0.15);
    }
.prlx-1-button {
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px
}
.prlx-1-button a i{
    padding-right: 7px;
}


.contact-icon {
    width:72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 30px;
    background: #F57F17;
    border-radius: 50%;
    margin:auto;
    position: relative;
    z-index: 99;
}
.contact-bg {
    background: #fff;
    width:100%;
    margin-top:-36px;
    position: relative;
    z-index: 11;
    padding:0 25px 30px;
    margin-bottom: 60px
}
.contact-name {
    color:#555;
    margin-top: 45px;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.contact-tel {
    text-align: center;
    color:#555;
    font-weight: 300;
    font-size: 14px;
    margin-top:10px;
}




/*------------------------------------------------------------------
[4.3 Blog Section]
*/
.page-in {
    padding: 50px 0;
    background: #F5FBFF;
}
.page-in.about-us {
    background: url(../images/about-us.jpg) no-repeat 50% 60%;
    padding:100px 0;
    color:#fff;
}
.page-in.services {
    background: url(../images/services-pict.jpg) no-repeat 50% 45%;
    padding:100px 0;
    color:#fff;
}
.page-in.shop {
    background: url(../images/food.jpg) no-repeat 50% 35%;
    padding:100px 0;
    color:#fff;
}
.page-in.contacts {
    background: url(../images/contacts.jpg) no-repeat 50% 50%;
    padding:100px 0;
    color:#fff;
}
.page-in.faq {
    background: url(../images/faq.jpg) no-repeat 50% 30%;
    padding:100px 0;
    color:#fff;
}
.page-in.pricing {
    background: url(../images/faq.jpg) no-repeat 50% 30%;
    padding:100px 0;
    color:#fff;
}
.page-in-name {
    font-size: 42px;
    text-align: center;
    padding-bottom: 0px;
    font-weight: 300;
    font-family: Open Sans;
    letter-spacing: 1px;
}
.page-in-bread {
    line-height: 30px;
    font-size: 13px;
    text-align: center;
}
.page-in-bread a {
    color: #F57F17;
}
.about-text {
    line-height: 1.7;
    font-size: 14px;
    font-weight: 300;
}
.first-letter {
    font-size: 21px;
    color: #fff;
    border-radius: 2px;
    float: left;
    background: #F57F17;
    padding: 3px 9px;
    margin-top: 3px;
    margin-right: 10px;
}
.list-check { margin-top: 17px }
.list-check li {
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
}
.list-check li  i {
    color: #F57F17;
    font-size: 16px;
    padding-right: 5px;
}
.blog-main {
    display: inline-block;
    background-color: #fff;
}
.blog-main.multi .blog-images.one{
    width: 50%;
    float: left;
}
.blog-main.multi .blog-images.two{
    width: 50%;
    float: right;
}
.blog-main.multi .blog-name {
    padding: 0 50px;
    padding-top: 75px;
    width: 50%;
}
.blog-main.multi .blog-name a {
    font-size: 24px;
}
.blog-main.multi .blog-text {
    padding: 0 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 50%;
}
.blog-main.multi .blog-desc {
    padding: 15px 50px;
    width: 50%;
    padding-top: 0px;
    border:none;
}







.blog-main.minimal .blog-desc {
    border-top: 2px solid #f9f9f9;
}
.blog-main.ver2 .blog-name {padding: 25px 0 15px 0;}
.blog-main.ver2 .blog-text {padding: 0 0 15px;}
.blog-main.ver2 .blog-desc {padding: 0 0 15px; border-top: 1px solid #eee;}
.blog-main.ver2 .blog-desc ul {padding-top: 15px; }
.blog-name {
    float: left;
    font-weight: 300;
    -webkit-backface-visibility: hidden;
    width: 100%;
    padding: 0 25px;
    display: inline-block;
    padding-top: 25px;
}
.blog-name a {
    font-size: 19px;
    color: #555;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
    line-height: 1.5;
}
.blog-name a:hover {
    color: #F57F17;
    text-decoration: none;
}
.blog-text {
    padding: 0 25px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.blog-text p {margin-bottom: 0px;}
.blog-desc {
    float: left;
    color: #999;
    font-size: 13px;
    -webkit-backface-visibility: hidden;
    width: 100%;
    padding: 15px 25px;
    border-top: 2px solid #F5FBFF;
}
.blog-desc ul {
    padding: 0px;
}
.blog-desc li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;    
}
.blog-desc li i{
    color:#F57F17;
    font-size: 20px;
    position: relative;
    top:3px; 
}
.blog-desc a {
    color: #999;
    text-transform: capitalize;
}
.blog-desc a:hover { text-decoration: underline }
.post-thumbnail {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.post-thumbnail .single-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.post-thumbnail:hover .single-item { opacity: 1 }
.post-thumbnail img {
    z-index: 0;
    width: 100%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.post-thumbnail:hover img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.post-thumbnail .single-action span {
    display: inline-block;
    margin: 0 2px;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}
.post-thumbnail .single-action span a:hover {
    text-decoration: none
}
.post-thumbnail .single-action span>a {
    display: block;
    color: inherit;
    font-weight: normal;
}
.post-thumbnail .single-action span {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    z-index: 2;
    visibility: hidden;
    margin: -25px 0 0 -25px;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: scale();
    -moz-transform: scale();
    -ms-transform: scale();
    -o-transform: scale();
    transform: scale();
}
.post-thumbnail:hover .single-action span {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.cl-blog-img {
    display: inline-block;
    width: 100%;
}
.sticky-lou.has-post-thumbnail .cl-blog-img:before {
    content: "\e02d";
    color: #F57F17;
    font-size: 18px;
    display: inline-block;
    font-family: 'et-line';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 20px;
}
.sticky-lou {position: relative;}
.sticky-lou:before {
    content: "\e02d";
    color: #F57F17;
    font-size: 18px;
    display: inline-block;
    font-family: 'et-line';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(255,255,255,0.5);
    width: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 99999;
    padding-bottom: 22px;
}

.sticky-lou.has-post-thumbnail:before {
  background: none;
  content: "";
}
.blog-category {padding: 0px;}
.blog-category li {list-style: none;}
.cl-blog-img img { width: 100% }
.medium-blog .cl-blog-naz { margin-top: 0px }
.medium-blog.has-post-thumbnail .cl-blog-text { width: 390px }
.cl-blog-naz { margin-top: 20px; display: inline-block; width: 100%;}
.cl-blog-name {
    padding-left: 75px;
    font-size: 19px;
    font-weight: 300;
    font-family: Open Sans;
}
.cl-blog-name a {
    color: #565656;
    display: inline-block;
}
.medium-blog {
    display: inline-block;

}
.cl-blog-name a:hover {
    color: #F57F17;
    text-decoration: none;
}
.cl-blog-type {
    float: left;
    color: #F57F17;
    font-size: 40px;
    border-right: 1px solid #eee;
    padding-right: 10px;
    line-height: 1.5;
}
.cl-blog-detail {
    margin-left: 75px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #999;
}
.cl-blog-detail a {
    color: #777;
    display: inline-block;
}
.cl-blog-text {
    margin-top: 25px;
    color: #555;
    font-weight: 300;
}
.cl-blog-read {
    border: 1px solid #eee;
    float: left;
    padding: 8px 12px;
    border-radius: 2px;
    font-weight: 300;
    /* margin-left: 75px; */
    margin-top: 25px;
}
.cl-blog-read a {
    color: #555;
    display: inline-block;
}
.cl-blog-read a:hover {
    color: #F57F17;
    text-decoration: none;
}
.cl-blog-line {
    width: 100%;
    border-top: 1px solid #eee;
    float: left;
    margin: 50px 0;
}
.pride_pg { float: left }
.pride_pg .current {
    padding: 5px 10px;
    border-radius: 2px;
    color: #F57F17;
    font-size: 12px;
    border: 1px solid #F57F17;
    font-weight: 300;
    margin-right: 3px;
}
.pride_pg a {
    padding: 5px 10px;
    border-radius: 2px;
    color: #555;
    text-decoration: none;
    border: 1px solid #eee;
    font-size: 12px;
    font-weight: 300;
    margin-right: 3px;
}
.pride_pg a:hover {
    color: #F57F17;
    border: 1px solid #F57F17;
}
.car_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 30px;
}
.promo-text-blog:first-child { margin-top: -5px }
.promo-text-blog {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    padding-bottom: 15px;
    margin-top: 30px;
}
.blog-search {
    border: 1px solid #eee;
    padding: 7px 10px;
    width: 100%;
    color: #555;
    font-weight: 300;
    outline: none;
}
.blog-category li {
    border-bottom: 1px solid #eee;
    padding: 7px 0;
}
.blog-category li i {
    color: #F57F17;
    font-size: 18px;
}
.blog-category li a {
    color: #555;
    display: inline-block;
    font-weight: 300;
    padding-left: 5px;
}
/*------------------------------------------------------------------
[5.0 Widgets/ Button]
*/
.widget ul {
    list-style: none;
    padding: 0;
}
.footer-widget ul {
    list-style: none;
    padding: 0;
}
.widget ul {
    list-style: none;
    padding: 0;
}
.widget ul li {
    padding: 7px 0;
    font-weight: 300;
}
.widget ul li a {
    color: #555;
    display: inline-block;
    font-weight: 300;
}
.widget ul li > a:before {
    content: "\f105";
    color: #F57F17;
    font-size: 18px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.recentcomments:before {
    content: "\f105";
    color: #F57F17;
    font-size: 18px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    color: #555;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.footer .widget-title {
    color: #fff;
    border-bottom: none;
}
.widget select {
    width: 100%;
    font-weight: 300;
}
.widget select {
    width: 100%;
    font-weight: 300;
}
.widget input {
    border: 1px solid #eee;
    padding: 7px 10px;
    width: 100%;
    color: #555;
    font-weight: 300;
    outline: none;
}
#wp-calendar {
    margin: 0;
    width: 100%;
    font-size: 13px;
    line-height: 1.846153846;
    color: #555;
    font-weight: 300;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption { text-align: left }
#wp-calendar #next {
    padding-right: 24px;
    text-align: right;
}
.widget-area .widget ul ul { margin-left: 12px }
.widget_rss li { margin: 12px 0 }
.widget_recent_entries .post-date,
.widget_rss .rss-date {
    color: #aaa;
    font-size: 11px;
    display: block;
    padding: 5px 0;
}
.recentcomments a { color: #F57F17 !important }
.recentcomments a:before {
    content: '' !important;
    padding-right: 0 !important;
}
.tagcloud a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #555;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 8px;
    color: #555;
    font-weight: 300;
    font-size: 13px !important;
}
.widget_nav_menu .menu { float: none }
.rsswidget { color: #555 }
.rsswidget:before {
    content: '' !important;
    padding-right: 0 !important;
    color: #F57F17 !important;
}
.widget-title .rsswidget { color: #555 }
.rsswidget { color: #F57F17 !important }
.widget {
    margin: 0 0 50px 0;
    display: inline-block;
    width: 100%;
}
.tweet_list a { color: #F57F17 !important }
.widget_insomnia-social-buttons ul li a:before {
    content: '' !important;
    padding-right: 0 !important;
}
.widget_insomnia-social-buttons ul li a { color: rgba(50,50,50,0.2) }
.widget_insomnia-social-buttons ul li {
    font-size: 21px;
    margin-right: 7px;
    float: left;
    line-height: 35px;
    border: none !important;
    padding: 0px;
}
.footer-widget select {
    padding: 5px;
    background: #fff;
    width: 100%;
}
.footer-widget a {
    font-weight: 300;
    color: #fff;
    opacity: 1;
}
.footer-widget {
    font-weight: 300;
    color: #fff;
    display: inline-block;
    width: 100%;
}
.footer-widget ul li {
    padding: 7px 0;
}
.footer-widget ul li:first-child {
padding-top: 0px;
}
.footer-widget ul li a { display: inline-block }
.footer-widget input {
    border: 1px solid #555;
    padding: 7px 10px;
    width: 100%;
    color: #555;
    font-weight: 300;
    outline: none;
}
.footer-widget .tagcloud a {
    color: #fff;
    background: rgba(255,255,255,0);
    border: 1px solid #eee;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 6px 10px;
    font-weight: 300;
    border-radius: 2px;
}
.footer-widget .tagcloud a:hover {
    background: rgba(255,255,255,0.15);
    color: #fff;
    text-decoration: none;
}
.text-widget {
    color: #555;
    font-weight: 300;
}
.tweet_list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tweet_list li {
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 10px;
}
.tweet_text a { color: #F57F17 }
.tweet_list li:first-child { margin-top: 0px }
.tweet_list li:last-child {
    border: none !important;
    padding-bottom: 0px;
}
.loading {
    font-weight: 300;
    color: #555;
}
.tweet_text {
    font-weight: 300;
    color: #555;
}
.tags-blog { padding: 0px }
.tags-blog li {
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #eee;
    margin-right: 5px;
    margin-bottom: 8px;
}
.tags-blog li a {
    color: #555;
    font-weight: 300;
}
.tags-blog li a:hover {
    color: #F57F17;
    text-decoration: none;
}
.tags-blog-single { display: inline-block }
.tags-blog-single ul { padding: 0px }
.blog-single .cl-blog-text {
    width: 100%;
}
.author-bio {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}
.img-author { float: left }
.img-author img.img_comm {
    float: none;
    width: auto;
    height: auto;
    border-radius: 0;
    margin: 0;
}
.name-author {
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    margin-left: 20px;
}
.name-author a { color: #555;text-transform: capitalize; }
.text-author {
    margin-left: 100px;
    font-weight: 300;
    margin-top: 5px;
    font-size: 12.5px;
}
.soc-blog {
    float: right;
    list-style: none;
    padding: 0;
}
.soc-blog li {
    float: left;
    font-size: 17px;
    width: 35px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-right: 5px;
}
.soc-blog li a { color: #797979 }
.soc-blog li a:hover { color: #F57F17 }
.soc-blog-single {
    display: inline-block;
    float: right;
}
.comm_name {
    font-size: 16px;
    color: #F57F17;
    font-weight: 300;
}
.comm_name span {
    font-size: 11px;
    color: #555;
}
.com_top { padding-top: 15px }
.comm {
    margin-top: 25px;
    display: block;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    margin-bottom: 30px;
}
.text_cont { font-weight: 300;/* padding-bottom: 12px; */}
.comment {
    padding: 30px 0;
    float: left;
    width: 100%;
}
.comment-inner {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 130px;
    float: left;
}
.img_comm {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-right: 50px;
}
.children { margin-left: 75px }
.cl-blog-line-com {
    width: 100%;
    border-top: 1px solid #eee;
    float: left;
    margin: 25px 0;
}
.input-def {
    border: 1px solid #eee;
    padding: 7px 10px;
    width: 50%;
    margin-bottom: 10px;
    outline: none;
}
.form-submit input {
    font-size: 13px;
    font-weight: 300;
    border-radius: 2px;
    border: 1px solid #eee;
    outline: none !important;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.comment-respond {
    display: inline-block;
    width: 100%;
}
.comment-reply-title { padding-bottom: 15px }
.input-def-textarea {
    border: 1px solid #eee;
    padding: 5px 10px;
    width: 65%;
    margin-bottom: 10px;
    outline: none;
}
.btn-default {
    border-radius: 2px;
    border: 1px solid #F57F17;
    font-weight: 300;
    font-size: 13px;
    outline: none !important;
    color:#fff;
}
.btn-default:hover {
    background: transparent;
    border: 1px solid #F57F17;
    color:#F57F17;
}
.introduction img { max-width: 100% }
.intro-name {
    font-size: 21px;
    text-align: center;
    padding: 15px 0 8px 0;
    font-weight: 300;
}
.intro-desc {
    font-weight: 300;
    text-align: center;
    color: #777;
}
.about-us img { max-width: 100% }
.about-name {
    font-size: 19px;
    font-weight: 400;
    padding-top: 15px;
    text-align: center;
}
.about-desc {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}
.about-texts {
    margin-top: 15px;
    color: #999;
    font-weight: 300;
    line-height: 1.6;
    font-size: 14px;
}
.about-desc span {
    margin-top: 10px;
    display: block;
    font-size: 13px;
    font-weight: 300;
}
.prog-name {
    display: inline;
}
.prog-per {
    float: right;
    display: inline-block;
}
.progress-per { display: inline ;}
.progress {
    height: 5px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
}
.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 5px;
}
.soc-about {
    margin-top: 15px;
    list-style: none;
    border-top: 1px solid #eee;
    width: 100%;
    padding: 15px 0 0 0;
    margin-bottom: 0px;
    display: inline-block;
}
.soc-about li {
    float: left;
    font-size: 19px;
    width: 20%;
    line-height: 35px;
    text-align: center;
    background: #fff;
}
.soc-about li a {color: #666;}
.soc-about li a:hover { color: #F57F17;text-decoration: none; }
.fact-icon {
    text-align: center;
    color: #F57F17;
    font-size: 50px;
}
.fact-numb {
    text-align: center;
    font-size: 27px;
}
.fact-name {
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.progress-bar-info { background-color: #F57F17 }
.clients div span { float: left }
.clients div span a { opacity: 0.6 }
.clients div span a:hover { opacity: 0.9 }
.clients div span img { max-width: 95% }
.serv-marg { margin-top: 20px }
.serv-marg i {
    color: #F57F17;
    font-size: 15px;
}
.serv-testim {
    margin-top: 0px;
    padding: 0px;
}
.serv-author {
    color: #555;
    margin-bottom: -10px;
}
.serv-icon {
    float: left;
    font-size: 43px;
    display: inline-block;
    text-align: center;
    line-height: 0px;
}
.serv-icon i { color: #F57F17 }
.serv-name {
    line-height: 43px;
    font-weight: 300;
    font-size: 19px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}
.serv-desc {
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 60px;
}
.other-serv {background: #fff;padding: 30px;}
.services-main.minimal .other-serv {background: #fff;padding: 0px;}
.services-main.minimal .serv-name {font-size: 21px;line-height: 46px;}
.services-main.minimal .serv-icon {font-size: 46px;}
.services-main.minimal .serv-desc {margin-left: 0px;font-size: 14px; margin-top: 15px;}
.input-cont {
    border: 1px solid #eee;
    padding: 7px 10px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}
.input-cont-textarea {
    border: 1px solid #eee;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}
.onepage .input-cont-textarea {
    border: none;
    padding: 9px 12px;
    background: transparent;
    border: 1px solid #444;
    }
.soc-contacts { margin: 0px }
.soc-contacts li {
    font-size: 23px;
    margin-right: 7px;
    float: left;
    line-height: 35px;
}
.soc-contacts li a {
    color: rgba(50,50,50,0.3);
    display: inline-block;
}
.soc-contacts li a:hover {
    color: rgba(50,50,50,0.6);
    text-decoration: none;
}
/*------------------------------------------------------------------
[6.0 Other Shortcodes]
*/
.main_pad {
    padding: 60px 0 130px 0;
    text-align: center;
    margin-top: 50px;
}
.oops {
    font-size: 125px;
    font-weight: 300;
    color: #F57F17;
}
.main_pad p {
    font-size: 18px;
    font-weight: 300;
}
.ac-container {
    width: 100%;
    margin: 10px auto 30px auto;
    text-align: left;
}
.ac-container label {
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #555;
    font-weight: 300;
    line-height: 33px;
    background: #ffffff;
    font-weight: 300;
    font-size: 14px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.ac-container div:last-child label { border-bottom: 1px solid #eee }
.ac-container label:hover {
    background: #f7f7f7;
    color: #F57F17;
    transition: color 400ms;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -o-transition: color 400ms;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    background: #f7f7f7;
    color: #F57F17;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../img/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after { background-image: url(../img/arrow_up.png) }
.ac-container input { display: none }
.ac-container article {
    margin-top: -5px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s linear, box-shadow 0.6s linear;
    -moz-transition: height 0.3s linear, box-shadow 0.6s linear;
    -o-transition: height 0.3s linear, box-shadow 0.6s linear;
    -ms-transition: height 0.3s linear, box-shadow 0.6s linear;
    transition: height 0.3s linear, box-shadow 0.6s linear;
}
.ac-container article p {
    color: #555;
    line-height: 23px;
    padding: 20px;
    font-weight: 300;
}
.ac-container input:checked ~ article {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.ac-container input:checked ~ article.ac-small { height: 140px }
.ac-container input:checked ~ article.ac-medium { height: 180px }
.ac-container input:checked ~ article.ac-large { height: 230px }
.ac-container div:last-child input:checked ~ article { border: 1px solid #eee }
.plan .price span {
    display: block;
    font-weight: 300;
    font-size: 11px;
    margin-top: 0px;
    color: #c0c0c0;
}
.plan .signup {
    padding: 20px 0px;
    text-align: center;
    border-top: 1px solid #f2f2f2;
    border-bottom: 3px solid #f6f6f6;
}
.plan ul {
    margin: 0 !important;
    list-style: none !important;
    padding: 0 !important;
    background: #ffffff;
    font-weight: 300;
}
.plan li {
    font-size: 12px;
    padding: 10px 0px;
    text-align: center;
    background: #f7f7f7;
}
.plan {
    text-align: center;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-right: -30px;
}
.plan:hover {
    background: #f7f7f7;
    border: 5px solid #eee !important;
    margin-left: -5px;
    margin-top: -4px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.featured {
    background: #fcfcfc;
    border: 5px solid #eee !important;
    margin-left: -5px;
    margin-top: -4px;
}
.plan h3 {
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0 10px 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}
.plan.featured h3 {
    font-size: 16px;
    color: #F57F17;
    border-bottom: none;
}
.plan .price {
    display: block;
    font-size: 54px;
    line-height: 38px;
    font-weight: 300;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #eee;
}
.plan.featured .signup { border-top: 1px solid #f2f2f2 }
.two_plan { background: #fff !important }
.plan li:last-child { background: none }
.pricing-table .plan:first-child { border-left: 1px solid #eee !important }
.plan.featured .price { color: #F57F17 }
.btn-price {
    color: #fff;
    background-color: #F57F17;
    border-color: #F57F17;
    font-weight: 300;
}
.btn-price:hover {
    color: #F57F17;
    background-color: #fff;
    border-color: #F57F17;
}
.shortcode_tabs .all_heads_cont {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 5;
    padding-bottom: 1px;
}
.shortcode_tab_item_title {
    border: #eee 1px solid;
    border-bottom: none;
    margin: 50px 5px 0 0;
    min-height: 18px;
    display: inline-block;
    float: left;
    padding: 13px 15px;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    background: #fff;
    transition: color 400ms;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -o-transition: color 400ms;
    font-weight: 300;
}
.all_body_cont {
    background: #fff;
    border: 1px solid #eee;
    margin-top: -2px;
    display: block;
    padding: 20px;
    line-height: 23px;
}
.shortcode_tab_item_body.active { display: block }
.shortcode_tab_item_body h4 { margin-top: 10px }
.shortcode_tab_item_body { display: none }
.shortcode_tab_item_body { display: none }
.shortcode_tab_item_title.active {
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    color: #F57F17;
}
.shortcode_tab_item_title:hover {
    background: #f7f7f7;
    color: #F57F17;
}
.alert {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 300;
}
.tooltip_s { color: #F57F17 }
.tooltip_s:hover { color: #F57F17 }
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td { border: 1px solid #eee }
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td { border-top: 1px solid #eee }
.table-bordered { border: 1px solid #eee }
.btn-lg {
    font-size: 18px !important;
    border-radius: 2px;
}
.btn {
    font-weight: 300;
    border-radius: 0px;
    padding: 7px 10px;
    font-size: 14px;
    color: #555;
}
.btn-sm {
    font-size: 12px !important;
    border-radius: 0px;
}
.btn-xs {
    font-size: 12px !important;
    border-radius: 0px;
}
.btn-insomnia {
    outline: none;
    background-color: #fff;
    border: 1px solid #F57F17;
    color: #fff;
    background: #F57F17;
}
.btn-insomnia:hover {
    background: transparent;
    color:#F57F17;
}
.btn-insomnia-dark {
    outline: none;
    background-color: #fff;
    border: 1px solid #555;
    color: #fff;
    background: #555;
}
.btn-insomnia-dark:hover {
    background: transparent;
    color:#555;
    border: 1px solid #555;

}
blockquote {
    font-weight: 300;
    font-size: 16px;
    margin: 25px 0px;
    border-left: 3px solid #eee;
}
blockquote footer,
blockquote small,
blockquote .small { margin-top: 5px }
.font_icons {
    color: #555;
    line-height: 2.5;
    font-weight: 300;
}
.font_icons i {font-size: 23px;position: relative;top:6px;width: 23px;}
.cbp-popup-singlePageInline .cbp-popup-close:before {
    overflow: hidden;
    color: #CDCDCD;
    content: "";
    font-size: 28px;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    top: -5px;
    position: relative;
}
.error { display: none }
.success { display: none }
.text_otz {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-left: 100px;
    padding-top: 1px;
    padding: 10px;
    font-weight: 300;
    background: url(../ig/arrow_tes.png) no-repeat;
}
.auth { float: left }
.after_otz {
    margin-left: 100px;
    margin-top: 5px;
    font-weight: 300;
}
.after_otz b { font-weight: 400 }
.text_otz span {
    background: url(../img/arrow_tes.png) no-repeat;
    width: 9px;
    height: 9px;
    float: left;
    margin-left: -19px;
    margin-top: 5px;
}
.otz { margin-bottom: 35px }
.otz:last-child { margin-bottom: 0px }
.auth img {
    border-radius: 2px;
    width: 82px;
}
.testimonials { text-align: center }
.testimonials .carousel-indicators .active {
    background: #F57F17;
    border: 1px solid #F57F17;
    cursor: default;
    width: 9px;
    height: 9px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    border-radius: 50%;
    margin: 1px;
}
.testimonials .carousel-indicators li {
    background: none;
    border: 1px solid #F57F17;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    border-radius: 50%;
    margin: 1px;
}
.testimonials .carousel-indicators li:hover {
    background: #F57F17;
    border: solid 1px #F57F17;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.testimonials .item { margin-bottom: 55px;}
.testimonials p.testimonial-quote {
    margin-bottom: 20px;
    padding: 0 145px;   
    font-size: 17px;
    margin-top: 15px;
    line-height: 2;
}
.multi-purp .testimonials p.testimonial-quote {
    font-size: 18px;
    padding: 0 175px;
}
.testimonials .carousel-control.left,
.testimonials .carousel-control.right { background-image: none}
.testimonials .carousel-control {
    color: #333;
    text-shadow: none;
    margin: 0;
    font-size: 50px;
    width: 0%;
    top: 15%;
    font-weight: 100;
}
.carousel-indicators li { border-radius: 2px }
.testimonials p.testimonial-author {
    text-align: center;
    color: #999;
    margin-bottom: 0px;
    font-size: 15px;
}
.testimonials .carousel-indicators { bottom: 5px; margin-bottom: 0px; }
.testimonials-photo {
    display: inline-block;
    float: left;
}
.testimonials-photo img {
    border-radius: 50%;
    width: 75px;
}
.testimonials-name h4 {
    padding: 0;
    display: inline-block;
    font-size: 20px;
    margin-top: 0;
}
.container-fullwidth .testimonials-name h4 { margin-top: 10px }
.testimonials-desc {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.testimonials-desc p {
    padding: 0;
    margin: 0;
}
.testimonials-text { margin-left: 105px }
.testimonials-block {
      padding: 0px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}
.testimonials-main .testimonials-block {
      background: #fff;
      padding: 30px;
      margin-bottom: 30px;
      border-bottom: none;
}
.soc-media {
    background: #555;
    border-bottom: 1px solid #555;
}
.soc-more { }
.soc-more a {
    text-align: center;
    padding: 20px 0;
    border-left: 1px solid #555;
    width: 100%;
    display: inline-block;
}
.soc-medeia-footer:last-child .soc-more a { border-right: 1px solid #555 }
.soc-more i {
    font-size: 46px;
    color: #fff;
    opacity: 0.8;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.soc-more:hover i {
    opacity: 1;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.soc-medeia-footer {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    padding: 0;
}
.soc-medeia-footer:hover {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.soc-medeia-footer.facebook:hover { background: #3b5998 }
.soc-medeia-footer.twitter:hover { background: #55acee }
.soc-medeia-footer.googleplus:hover { background: #dd4b39 }
.soc-medeia-footer.dribbble:hover { background: #ea4c89 }
.soc-medeia-footer.linkedin:hover { background: #0976b4 }
.soc-medeia-footer.rss:hover { background: #f26522 }
.about-us-h2 h2 { margin-top: 5px }
.team-image {border: 6px solid #fff;}
.team-image.ind {background:#fff;}
.team-block {
    background: #fff;
    display: inline-block;
    width: 100%;
}
.carousel-indicators li {
    display: inline-block;
    width: 9px;
    height: 9px;
}
.twitter-main {
    height: 100px;
    background: #f7f7f7;
    border-top: 1px solid #eee;
}
.twit-icon i {
    line-height: 70px;
    font-size: 40px;
}
.dankovteam-twitter-slider-wrapper .loading {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 70px;
    margin: 0px;
}
.dankovteam-twitter-slider-wrapper .paginat {
    line-height: 70px;
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    margin-top: -3px;
}
.paginat a {
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
}
.paginat a:hover {
    color: #fff;
    text-decoration: none;
}
.dankovteam-twitter-slider-wrapper  .tweet_list li {
    position: relative;
    line-height: 70px;
    border-bottom: none;
    padding-bottom: 0px;
    margin-top: 0px;
    height: 70px !important;
}
.dankovteam-twitter-slider-wrapper .tweet_list a {
    color: #fff !important;
    text-decoration: underline;
}
.dankovteam-er-slider-wrapper  .tweet_text {
    font-weight: 300;
    color: #fff;
}
.post-format-quote-author { text-align: right }
.wp-link-pages-container {
    margin-top: 25px;
    margin-left: 60px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-video {
    display: inline-block;
    width: 100%;
}
.wpb_row { margin-bottom: 0px !important }
.tp-caption .largebutton {
    color: #fff;
    display: block;
    background: rgba(255,255,255,0.25);
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 0px;
}
.tp-caption .largebutton:hover {
    color: #fff;
    background: rgba(255,255,255,0.35);
    text-decoration: none;
}
.flickr_badge_image {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    float: none !important;
}
.footer-widget .contact-footer li { position: relative }
.widget_insomnia-twitter  .tweet_list li { position: relative }
.widget_insomnia-twitter .tweet_text li span a {
    color: #fff !important;
    text-decoration: underline;
}
.widget_insomnia-twitter  .tweet_text {
    font-weight: 300;
    color: #fff;
}
.prev-next-links-wrapper { margin-top: 30px }
.comments h3 {
    width: 100%;
    display: inline-block;
}
.comments {
    width: 100%;
    display: inline-block;
}
.list-check {
    list-style: none;
    padding: 0;
}
#wpadminbar .sticky { top: 32px }
.footer-no-widgets {
    font-size: 13px;
    color: #fff;
    padding: 15px 0;
    opacity: 0.8;
}
.testauthor-rating ul {
    list-style: none;
    padding: 0;
}
.bxslider {
    list-style: none;
    padding: 0;
}

.block-test { position: relative }
.block-test:hover .insomnia-product-rate-n-price {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
.title-woo-block {
    position: relative;
    background: #fff;
    z-index: 9999;
}
/*------------------------------------------------------------------
[8.0 Footer]
*/
.footer {
    background: #333;
    min-height: 300px;
    max-height: 100%;
    width: 100%;
    margin-bottom: -7px;
    font-size: 13px;
    margin-top: 50px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 50px 0 90px 0;
}
.footer.onepage {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url(../images/parallax-2.jpg) 50% 0% no-repeat;
}
.footer-overlay {
    background: rgba(0,0,0,0.65);
    padding: 75px 0;
}
.form-onepage {background: rgba(0,0,0,0.45);display: inline-block;padding: 35px 20px;width: 100%}
.footer-widget .soc-footer li {
    padding: 0;
    border: none;
}
.contact-footer span, .contact-composer span { padding-left: 10px }
.contact-composer li { 
padding: 7px 0;
  font-weight: 300;
  list-style:none;
}
.contact-footer .contact-composer li i {color: #fff;}
.contact-footer li i { font-size: 14px }
.contact-composer li a { color: #555 }
.contact-composer li i {
    font-size: 21px;
    width: 20px;
    color: #555;
    opacity: 1;
    position: relative;
    top: 3px;
}
.contact-text {
font-size: 17px;padding: 10px 0;
    font-weight: 400;}
.contact-footer li i{ color: #fff }
.btn-contact {
    border:1px solid #444;
    background: transparent;
}
.btn-contact:hover {
    color:#fff;
    background: rgba(0,0,0,0.9);
}
.begin-content .contact-composer li i { color: #555 }
.tags-footer li a {
    color: #555;
    background: rgba(50,50,50,0.1);
    display: block;
    float: left;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 6px 10px;
    font-weight: 300;
    border-radius: 2px;
}
.tags-footer li a:hover {
    background: rgba(50,50,50,0.2);
    color: #555;
    text-decoration: none;
}
.flickr_widget_wrapper a {
    display: block;
    float: left;
    width: 60px;
    height: 60px   ;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    margin-bottom: 5px;
    margin-right: 5px;
}
.flickr_widget_wrapper a .flickr_border {
    display: block;
    position: absolute;
    z-index: 15;
    left: 0;
    top: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.flickr_widget_wrapper:hover .flickr_badge_image {
    opacity: 0.3;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}
.flickr_widget_wrapper .flickr_badge_image {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.flickr_widget_wrapper:hover .flickr_badge_image:hover {
    opacity: 1;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}
.soc-footer { margin: 0px;margin-top: 25px;}
.soc-footer.onepage {
    margin: 0px;
    margin-top: 10px;
    display: inline-block;
    padding: 0;
    list-style: none;
}
.soc-footer.onepage  li {
    font-size: 22px;
    margin-right: 20px;
}
.soc-footer.onepage li a {
    color: #ddd;
}
.soc-footer li {
    font-size: 20px;
    margin-right: 15px;
    float: left;
    line-height: 35px;
}
.soc-footer li a {
    color: #fff;
    display: inline-block;
}
.soc-footer li a:hover {
    color: #F57F17;
    text-decoration: none;
}
.footer-bottom {
    margin-top: 50px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    width: 100%;
    background: #222;
    position: absolute;
    bottom: 0;
}
.footer-bottom.onepage {
    padding: 15px 0;
    text-align: center;
    position: relative;
    margin-top: 0px;
    background: #fff;
    color: #555;
    font-size: 14px;
}
.footer-bottom.onepage .copyright a{color:#555;text-decoration: none;}
.footer-bottom a { color: #fff }
.foot_menu { float: right }
.foot_menu ul { margin: 0px }
.foot_menu ul li {
    float: left;
    padding-left: 5px;
    list-style: none;
}
.foot_menu ul li a {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
.foot_menu ul li a:hover { text-decoration: underline }
.foot_menu li:after { content: " " }
.foot_menu li:not(:last-of-type):after {
    padding-left: 5px;
    content: "|";
}
.quote { text-align: center }
.quote i {
    font-size: 43px;
    color: #fff;
}
.flexslider { position: relative }
.copyright { display: block }
.contact-bg-onepage {
    background: rgba(0,0,0,0.45);
    padding: 22px 35px;
}
.contact-composer {
    padding: 0px;
    margin-bottom: 0;
}
.contact-bg-onepage .contact-composer li {
 padding: 7px 0px;
}
.contact-bg-onepage .contact-composer li i {
    color: #fff;
    font-size: 23px;
}
.contact-bg-onepage .contact-composer span {
    position: relative;
    top:-2px;
    font-size: 14px;
    color: #ddd;
}
.button-center {
    display: table;
    margin: auto;
}
.btn-item {
    padding: 5px 10px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ddd;
    color: #555;
    margin-top: 15px;
    display: inline-block;
    font-weight: 300;
}
.btn-item a:hover {text-decoration: none}
.btn-item:hover {
    color: #F57F17;
    text-decoration: none;
}
.item-heart {
    display: table;
    margin: auto;
    margin-top: 16px;
}
.item-heart i {
    color: #F57F17;
    font-size: 20px;
}
.item-heart i:hover {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px;
    cursor: pointer;
}

.wpb_single_image img {
    width: 100%;
}

.portfolio-image {
    float: none;
}

.stats-top .aio-icon-top, .stats-top .stats-desc {
  width: 100%;
  display: block;
  text-align: center;
}
.aio-icon.none {
  display: inline-block;
  font-size: 32px;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1em;
}
.aio-icon {font-size:40px;display:inline-block;}
.stats-text {font-size:21px;}
.stats-top .stats-number {
  display: inline-block;
  font-weight: 300;
  font-size: 34px;
  line-height: 1;
  padding-top: 25px;
}
.stats-block .stats-text {
  font-size: 18px;
  padding-top: 15px;
  line-height: 1;
}
.stats-top.minimal .stats-number {
    font-size: 40px;
}
.stats-block.minimal .stats-text {
    padding-top: 25px;
    font-size: 20px;
}
.aio-icon.none {
  display: inline-block;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1em;
  font-size: 40px;
-moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.progress-bar {
  text-align: left;
  background-color: #F57F17;
  -webkit-box-shadow:none;
  box-shadow: none;
  padding: 0 15px;
}
.small-list ul {
    padding: 20px 0 0 0;
}
.small-list ul li {
    list-style: none;
    padding: 6px 0;
}
.small-list ul li a{
    color:#666;
}
.small-list ul li a:hover{
    text-decoration: none;
}
.small-list ul li i {
    position: relative;
    top: 6px;
    color: #F57F17;
    font-size: 27px;
}
.small-title {
    font-size: 23px;
    position: relative;
    margin-bottom: 40px;
}
.small-title:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #F57F17;
    bottom: -10px;
}

.about-us-title {
    font-size: 21px;
    position: relative;
    margin-bottom: 30px;
}
.about-us-title:before {
content: "";
  position: absolute;
  
width: 25px;
  height: 2px;
  
background-color: #F57F17;
  bottom: -3px;
}
.about-us-text {
    font-size: 14px;
}
.about-us-list {
    padding-top: 15px;
}
.about-us-list ul {
    padding: 0;
}
.about-us-list ul li {
    list-style: none;
    padding: 3px 0;
}
.about-us-list ul li a{
    color:#666;
}
.about-us-list ul li a:hover{
    text-decoration: none;
}
.about-us-list ul li i {
    position: relative;
    top: 1px;
    color: #F57F17;
}
.about-us-img {text-align: right;padding-top: 24px;}

.purchase-line {
  font-size: 33px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 150px;
  font-weight: 300;
}
.purchase-btn {
    text-align: right;

    line-height: 150px;
}
.purchase-btn a {
    color: #fff;
    background: rgba(255,255,255,0.2);
    padding: 11px 15px;
    border: 1px solid #F57F17;
    border-radius: 4px;
    font-size: 16px;
}
.purchase-btn a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.4);

}


.serv-block-link {
    margin-top: 15px;
}
.serv-block-link a{
    text-decoration: none;
    color:#F57F17;
}

.about-us-button {
  display: inline-block;
  margin-top: 15px;
}
.about-us-button a {
  background-color: #fff;
  padding: 7px 10px;
  border: 1px solid #F57F17;
  font-size: 13px;
  background: #fff;
}
.about-us-button a:hover {
    text-decoration: none;
}
.about-us-button-blue {
  display: inline-block;
  margin-top: 35px;
  margin-right: 5px;
}
.about-us-button-blue a {
  background-color: #fff;
  padding: 7px 10px;
  border: 1px solid #F57F17;
  font-size: 13px;
  color: #fff;
  background: #F57F17;
}
.about-us-button-blue a:hover {
    text-decoration: none;
    background: transparent;
  border: 1px solid #F57F17;
  color:#F57F17;
}
.footer-title {
    font-size: 20px;
    position: relative;
    margin-bottom: 40px;
}
.footer-title:before {
content: "";
  position: absolute;
width: 30px;
  height: 2px;
background-color: #fff;  
bottom: -12px;
}
.portfolio-dankov figure {
    position: relative;
    float: left;
    overflow: hidden;
}
.color-bold {
    color: #F57F17;
    font-weight: 700;
}
/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath {
    background: transparent;
        transition: 0.35s all linear;

}

figure.effect-goliath img {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;

}

figure.effect-goliath p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 20px;
    font-size: 18px;
}

figure.effect-goliath p {
    text-transform: none;
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,71px,0);
    transform: translate3d(0,71px,0);
    background: #F57F17;
    width: 100%;
}

figure.effect-goliath:hover img {
    -webkit-transform: translate3d(0,-68px,0);
    transform: translate3d(0,-68px,0);

}
figure.effect-goliath:hover {
    background: #000;
    opacity: 0.95;
    position: relative;
    transition: 0.25s;
            cursor: default;

}


figure.effect-goliath:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);

}
.portfolio-dankov .icon-links {
    background: transparent;
    top: 50%;
    bottom: 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    position: relative;
    margin-top: -35px;
    cursor: default;
}
.portfolio-dankov .icon-links a {
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
}
.portfolio-dankov .icon-links a:hover {
    text-decoration: none;
}

.portfolio-dankov .icon-links a i {
    color: #F57F17;
    font-size: 29px;
    line-height: 55px;
}
.portfolio-dankov .icon-links a.attach-icon {
    -webkit-transition: -webkit-transform 0.42s;
    transition: transform 0.42s;
    -webkit-transform: translate3d(-750%,0,0);
    transform: translate3d(-750%,0,0);
    left: 50%;
    position: absolute;
}
.portfolio-dankov .icon-links a.search-icon {
    -webkit-transition: -webkit-transform 0.42s;
    transition: transform 0.42s;
    -webkit-transform: translate3d(750%,0,0);
    transform: translate3d(750%,0,0);
    right: 50%;
    position: absolute;

}

.portfolio-dankov:hover .icon-links a.attach-icon {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.portfolio-dankov:hover .icon-links a.search-icon {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.portfolio-dankov:hover .icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.portfolio-dankov:hover .icon-links a:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.55s;
    -moz-transition-duration: 0.55s;
    -ms-transition-duration: 0.55s;
    -o-transition-duration: 0.55s;
    transition-duration: 0.55s;
}
.isotope {
    -webkit-transition-property: height,  width;
    -moz-transition-property: height,  width;
    -ms-transition-property: height,  width;
    -o-transition-property: height,  width;
    transition-property: height,  width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform,  opacity;
    -moz-transition-property: -moz-transform,  opacity;
    -ms-transition-property: -ms-transform,  opacity;
    -o-transition-property: -o-transform,  opacity;
    transition-property: transform,  opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}


.twitter-list ul{padding: 0px;}

.twitter-list ul li{
    list-style: none;
    padding-bottom: 20px;
    position: relative;
    padding-top: 4px;
}

.twitter-list ul li p{
    position: relative;
    top: -4px;
    display: inline;
    left: 35px;
}

.twitter-list ul li i{
    color: #F57F17;
    font-size: 24px;
    position: absolute;
}





.stats-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}
.stats-icon {
    font-size: 48px;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    height: auto;
    width: 90px;
    line-height: 90px;
    color: #fff;
    background: #fff;
}
.stats-desc.onepage .stats-icon {
    color: #F57F17;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.stats-desc.onepage .stats-number {
 padding-top: 0px;
}
.stats-icon-effect .stats-icon {
    color: #fff;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    transition: color 0.25s;
}
.stats-icon-effect .stats-icon:after {
    top: 0px;
    left: 0px;
    z-index: -1;
    background: #F57F17;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
.stats-icon-effect .stats-icon:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}
.stats-icon-effect .stats-icon:hover {
    color: #F57F17;
    background: #fff;
}



.mobile-block {
    margin:55px 0 0 30px;
    display: inline-block;
}
.mobile-block.ind {
    margin:30px 0 0 30px;
    display: inline-block;
}
.mobile-icon {
    font-size: 45px;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    width: 50px;
    line-height: 50px;
    color: #F57F17;
    float: left;
}
.mobile-name {
    font-size: 20px;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    float: left;
    line-height: 50px;
    margin-left: 10px;
}
.mobile-text {
    margin-top: 15px;
    float: left;
}
.mobile-block.right-pos {margin-right: 30px; margin-left: 0px;}
.mobile-block.right-pos .mobile-icon {float:right;}
.mobile-block.right-pos .mobile-name {float:right; margin-left: 0px; margin-right: 10px;}
.mobile-block.right-pos .mobile-text {float:right; text-align: right;}
 





.text-block-title {
font-weight: 600;
text-transform: uppercase;
padding-bottom: 20px;
font-size: 15px;
letter-spacing: 1px;
}
.text-block-title.minimal {
    font-size: 17px;
}


.color-line {
    background: #F57F17;
    margin-bottom: -50px;
    color: #fff;
    padding: 30px 0;
    margin-top: 75px;
    transition: 0.25s all linear;
    border-bottom: 1px solid #F57F17;

}
.color-line:hover {
    background: #333;
    transition: 0.25s all linear;
}
.color-line-text {
    font-size: 24px;
    letter-spacing: 0.5px;
}
.color-line-button {
    line-height: 42px;
}
.color-line-button a {
    border:1px solid #fff;
    padding: 8px 15px;
    border-radius: 4px;
    color:#fff;
    font-size: 16px;
}
.color-line-button a:hover {
    text-decoration: none;
}



.main-text-slider {
    margin-top: -10px;
}
.text_after_slider {
    text-align: center;
    font-size: 37px;
    font-weight: 300;
    letter-spacing: 1px;
}
.text_after_slider_sec {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: #F57F17;
    letter-spacing: 1px;
}
.text_after_slider_line {
    border-top:1px solid #eee;
    margin-top: 40px;
}
.process-block-one {
    float:left;
    width:17.5%;
}
.process-block-two {
    float:left;
    width:10%;
}
.process-round.onepage .process-icon {
    background: #fff;
}
.process-round.onepage .process-icon:hover {
    color:#fff;
    background: #F57F17;
}
.process-icon {
    text-align: center;
    background: rgba(255,255,255,0.15);
    width: 100px;
    height: auto;
    line-height: 100px;
    color:#fff;
    font-size: 46px;
    border-radius: 50%;
    margin-top: 50px;
    display: table;
    margin: 50px auto 0 auto;
    color:#F57F17;
    transition:all 0.25s linear;
    margin-top: 30px;
}
.process-icon:hover {
    color:#fff;
    background: #F57F17;
    transition:all 0.25s linear;
}
.process-text {
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.process-arrow {
    text-align: center;
    font-size: 60px;
    line-height: 120px;
    margin-top: 30px;
    color: #fff;
}

.color-block {
    padding:75px 125px;
    color:#fff;
    position: relative;
}
.color-block.blue {
    background: #F57F17;
}
.color-block.middle {
    background: #489AE6;
}
.color-block.dark {
    background: #444;
}
.color-block .text-block-title {
    font-size: 18px;
    padding-bottom: 30px;
}
.color-block .text-block-text {padding-right: 100px;}
.text-block-icon { 
    position: absolute;
    font-size: 110px;
    top: 50%;
    color: rgba(255,255,255,0.4);
    right: 10%;
    line-height: 0;
    margin-top: -55px;
}
.pad-no {
    padding: 0px;
}
.two-blocks-img {
        top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    min-height: 650px;
    z-index: 99;
    background: url(../images/two-blocks-img.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.two-blocks{
    padding: 75px;
    background: #444;
    min-height: 650px;
    color:#fff;
}
.two-blocks-services {
    margin-bottom: 80px;
}
.two-blocks-services.last {
    margin-bottom: 0px;
}
.two-blocks-services-title {
    font-size: 18px;
    display: inline-block;
    line-height: 55px;
    margin-left: 30px;
}
.two-blocks-services-text {
    padding-right: 100px;
    margin-left: 85px;
}
.two-blocks-services-icon {
    font-size: 55px;
    color: rgba(255,255,255,0.4);
    line-height: 0;
    display: inline-block;
    float: left;
}






/* first demo page*/
.top-block {
    background: url(../images/first-demo.jpg) repeat-x 50%;
    color:#fff;
    height: 450px;
}
.top-block-1 {
    background:rgba(0,0,0,0.75);
    height: 450px;
}
.middle-block {
    background: #f0f0f0;
    padding: 20px 0 70px 0;
    margin-left:35px; margin-right:35px;
}
.mid-cont {
    width: 1500px;
}
.demo_logo {
    text-align: center;
    padding-top: 40px;
}
.demo_text {
    text-align: center;
    padding-top: 45px;
    font-size: 65px;
}
.demo_buttons {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 60px;
}
.demo_buttons a {
    border:1px solid #fff;
    padding: 10px 15px;
    color:#fff;
    background: transparent;
    font-size: 16px;
}
.demo_buttons:hover a {
    text-decoration: none;
    background: rgba(255,255,255,0.1);
}
.demo_love {
    text-align: center;
    margin-top: 82px;
    letter-spacing: 1px;
}
.demo_love i {
    color:#F44336;
    font-size: 23px;
    position: relative;
    top:5px;
}
.demo-page { margin-top: 50px;}
.demo-img {border: 5px solid #fff;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.demo-title {padding: 15px 15px 20px 15px; text-align: center;font-size: 18px;font-weight: 300;letter-spacing: 0.5px;background: #fff;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;color: #555;} 
.mid-row {margin-right: -25px; margin-left: -25px;}
.col-lg-4.mid  {padding-right: 25px; padding-left: 25px;}
.end-block {text-align: center;padding: 30px 0;background: #fff;}
.demo-img  {transition:all 0.3s linear; position: relative; }
.demo-img .demo-hover {background: rgba(0,0,0,0); width: 100%; height:100%; position: absolute; transition:all 0.3s linear;}
.demo-img:hover .demo-hover  { transition:all 0.3s linear; background: rgba(0,0,0,0.6);}
.demo-img .demo-hover span {position: relative; top:45%;left:50%; margin-left: -30px;opacity: 0;transition:all 0.3s linear;}
.demo-img:hover .demo-hover span {opacity: 1;transition:all 0.3s linear;}
.demo-img .demo-hover span i{font-size: 70px; color:#fff;}
.new {    
    border: 24px solid transparent;
    border-left: 24px solid #FF5534;
    border-top: 24px solid #FF5534;
    position: absolute;
}
.new span {   
    color: #fff;
    top: -20px;
    position: absolute;
    left: -22px;
    -moz-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
/* first demo page*/

.shop-main {
    display: inline-block;
    background-color: #fff;
}
.shop-main.minimal .shop-desc {
    border-top: 2px solid #f9f9f9;
}
.shop-main.ver2 .shop-name {padding: 25px 0 15px 0;}
.shop-main.ver2 .shop-text {padding: 0 0 15px;}
.shop-main.ver2 .shop-desc {padding: 0 0 15px; border-top: 1px solid #eee;}
.shop-main.ver2 .shop-desc ul {padding-top: 15px; }
.shop-name {
    float: left;
    font-weight: 300;
    -webkit-backface-visibility: hidden;
    width: 100%;
    display: inline-block;
    padding-top: 25px;
}
.shop-name a {
    font-size: 19px;
    color: #555;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
    line-height: 1.5;
}
.shop-name a:hover {
    color: #F57F17;
    text-decoration: none;
}
.shop-text {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.shop-text p {margin-bottom: 0px;}
.shop-desc {
    float: left;
    color: #999;
    font-size: 13px;
    -webkit-backface-visibility: hidden;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}
.shop-desc ul {
    padding: 0px;
}
.shop-desc li {
    list-style: none;
    display: inline-block;
}
.shop-desc li i{
    color:#F57F17;
    font-size: 20px;
    position: relative;
    top:3px; 
}
.shop-desc a {
    color: #999;
    text-transform: capitalize;
}
.shop-desc a:hover { text-decoration: underline }
.post-thumbnail {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.post-thumbnail .single-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.post-thumbnail:hover .single-item { opacity: 1 }
.post-thumbnail img {
    z-index: 0;
    width: 100%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.post-thumbnail:hover img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.post-thumbnail .single-action span {
    display: inline-block;
    margin: 0 2px;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}
.post-thumbnail .single-action span a:hover {
    text-decoration: none
}
.post-thumbnail .single-action span>a {
    display: block;
    color: inherit;
    font-weight: normal;
}
.post-thumbnail .single-action span {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    z-index: 2;
    visibility: hidden;
    margin: -25px 0 0 -25px;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: scale();
    -moz-transform: scale();
    -ms-transform: scale();
    -o-transform: scale();
    transform: scale();
}
.post-thumbnail:hover .single-action span {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.price-shop {
    position: absolute;
    background: #F57F17;
    top: 7px;
    right: 7px;
    border-radius: 6px;
    padding: 4px 8px;
    color:#fff;
    font-size: 16px;
}


.stars-shop {padding-right: 15px !important;}
.stars-shop li.active i {
 color:#F57F17;
}
.stars-shop li i {
    color:#555;
}


.portfolio-block {
    margin-top: 50px;
}
.portfolio-name {
    position: relative;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 2;
}
.portfolio-name:after {
    content: '';
    height: 2px;
    background: #F57F17;
    position: absolute;
    width: 50px;
    left: 0;
    bottom: -3px;
}
.portfolio-text { 
    padding-top: 30px; 
    width: 70%;
}

.portfolio-block-clients {
    border-bottom: 30px solid #f4f4f4;
    padding-bottom: 30px;

}
.portfolio-block-stats {
    border-top: 30px solid #f4f4f4;
    display: inline-block;
    width: 100%;
}
.copy-portfolio {
    text-align: center;
    padding: 13px 0;
}













































