body,
html {
    min-height: 100%;
    color: #373737;
    font-family: 'Open Sans',sans-serif,-apple-system
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: Raleway, sans-serif;
    color: #000
}
html,
body {
    height: 100%;
}

a{
    color: #F57F17;
}

.carousel{
    height: 70%;
}
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.navbar-default .navbar-brand{
    color: #F57F17;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar{
    margin-bottom: 0px;
}

.separator{
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}

.title{
    padding-top: 16px;
    padding-bottom: 32px;
}

.slider-container{
    background-color: #eee;
    padding-top:32px;
    padding-bottom:32px;
}


.bg-light-gray {
  background-color: #f9f9f9;
}
.bg-darkest-gray {
  background-color: #222222;
}
.team-member {
    text-align: center;
    margin-bottom: 50px;
}

.team-member .img-responsive {
    margin: 0 auto;
}
ul.social-buttons {
    margin-bottom: 0;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

section {
    padding: 75px 0;
}
section h2 {
    color: #263238;
}
.detail{
    padding: 32px 0;
}
section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;

    color: #F57F17;
    font-style: italic;

}

footer{
    border-top: 1px solid #eeeeee;
    padding: 32px 0 16px 0;
}
.float-left li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.list-unstyled li{
    display: inline;
    padding: 10px;
}


.footer-contact-us{
    list-style: none;
}
.footer-contact-us{
    list-style:
}
footer h5{
    margin-bottom: 24px;
}

.text-facebook{
    color: #3b5998;
}
.text-twitter{
    color: #00aced;
}

.text-instagram{
    color: #C43220;
}

article{

}
article h1{
    font-size: 30px;
    margin-bottom: 32px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 0;
    margin-left: 15px;
    margin-bottom: 0px;
    background-color: #ffffff;
    border:none;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

@media (min-width: 768px){
    section {
        padding: 75px 0;
    }
}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #f8a55d;
    border-color: #f8a55d;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 16px;
    line-height: 1.846;
    text-decoration: none;
    color: #f8a55d;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}


/* ---- grid ---- */

.grid {
    width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 25%;
  height: auto;
  float: left;
}
.grid-item img{
  padding:1px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }


.list-group-item-text{
    padding-top: 16px;
    font-size: 14px;
    color: #373737;
}